.cover_button {
    font: ducimain, helvectica;
    font-weight: bold; 
    margin-top: 80px;
    font-size: 75px;
    border-radius: 50px;
    background-color: #b8e4bc; 
    border: none;
    color: white;
    padding: 30px 300px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    position:absolute;
    z-index: 3;
    transition: all 0.5s;
    cursor: pointer;
    vertical-align: middle;
}

.cover_button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.cover_button span:after {
    content: '\00bb';
    position: absolute;
    opacity:0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.cover_button:hover span {
    padding-right: 50px;
}

.cover_button:hover span:after {
    opacity: 1;
    right: 0;
}

.setbutton {
    margin-top: 5px;
    margin: 10px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #498cb2;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    vertical-align:center;
    font-family: 'Chewy', cursive;
    z-index: 3;
}

#select_course {
    font: ducimain, helvectica;
    font-weight: bold; 
    text-align: center;
}

#course_info {
    font: 14px arial, sans-serif;
}



.title {
    padding-top: 50px;
    text-align:center;
    font-size: 50px;
    font-family: 'Chewy', cursive;
    color: #436436
}


.cloud{ 
margin-top:90px;
margin-left: 200px;
margin-right: 200px;
width:350px;
height:120px;
background:#ECEFF1;
box-shadow: 10px 10px rgba(0,0,0,0.2);
border-radius:100px;
}
.cloud::after, .cloud::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
}
.cloud::after{
    width:100px;
    height:110px;
    top:-110px;
    left:-120px;
}
.cloud::before{
    width:180px;
    height:180px;
    top: -70px;
    left:130px;
}

.clouds {
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-top: 40px;
}

#section1{
    height: 800px;
    background-image: url('images/Greenery_image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

#section2{
    height:1100px;
    background-color: beige;
}

html{
    scroll-behavior: smooth;
}

.sectionbutton{
    font-family: 'Chewy', cursive;
    font-weight: bold; 
    font-size: 30px;
    border-radius: 50px;
    background-color: #b1da6c;
    border: none;
    color: white;
    padding: 20px 100px;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    z-index: 3;
    transition: all 0.5s;
    cursor: pointer;
    vertical-align: middle;
}

.sectionbutton:active{
    transform: translateY(4px);
}

#playbutton{
    position:relative;
    bottom:0;
}


#zotracerinfo{
    font: ducimain, helvectica;
    font-weight: bold; 
    position: absolute;
    bottom:0;
}

.centerplay{
    display: flex;
    justify-content: center;
}

.marginbutton{
    margin-top: 30px;
    margin-right: 10px;
}

#hook {
    text-align: center;
    font: ducimain, helvectica;
    font-weight: bold; 
    font-size: 25px;
    color: white;
    margin: auto;
    width: 1200px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(188, 219, 165); 
}

#about_info {
    text-align: center;
    font: ducimain, helvectica;
    font-weight: bold; 
    font-size: 25px;
    color: white;
    margin: auto;
    width: 1200px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(174, 205, 231);
}
