.cover_button {
    color: black;
    width: 50%;
    font-size: 50px;
    border-radius: 12px;
    background-color: #b8e4bc; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;

}

.title {
    font-size: 50px;
    font-family: 'Chewy', cursive;
}

body {
    background-image: url('https://t4.ftcdn.net/jpg/02/44/65/17/240_F_244651719_03fLBwkzGIqkH6zktB6CAwbghUt21xer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }